# dependencies
node_modules/
.pnp/
.pnp.js

# spam
.DS_Store
*.pem
*.tsbuildinfo
.eslintcache

# output
*.log

# local env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.direct
.env

# npm
package-lock.json

#.idea
dataSources.xml
