@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__input-container input {
	@apply block w-full text-base md:text-sm bg-white border border-gray-300 rounded shadow-sm form-input;
}

.react-datepicker-popper {
	@apply z-40 text-sm bg-white shadow px-3 py-2 border-2 border-gray-200 rounded;
}

.react-datepicker-left {
	@apply absolute left-1/2 top-11 -translate-x-1/2 !important;
}

.react-datepicker-right {
	@apply absolute left-1/2 top-11 -translate-x-1/2 !important;
}

.react-datepicker__portal {
	@apply absolute z-10 w-72 text-sm transform-none bg-white shadow px-3 py-2 top-12 right-0 border-2 border-gray-200 rounded;
}

.react-datepicker__month-container {
	@apply flex flex-col w-64;
}

.react-datepicker__month {
	@apply flex flex-col;
}

.react-datepicker__current-month {
	@apply ml-2.5 text-lg font-semibold text-gray-800;
}

.react-datepicker__week {
	@apply flex justify-around;
}

.react-datepicker__day-names {
	@apply flex justify-around text-gray-400 font-medium text-center text-xs;
}

.react-datepicker__day-name {
	@apply w-8 h-8 flex items-center justify-center py-1 rounded-full;
}

.react-datepicker__navigation {
	@apply absolute top-2;
}

.react-datepicker__navigation--previous {
	@apply right-12 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200;
}

.react-datepicker__navigation--next {
	@apply right-4 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200;
}

.react-datepicker__day {
	@apply mb-1 w-8 h-8 flex items-center justify-center py-1 text-sm leading-loose transition text-gray-700 rounded cursor-pointer;
}

.react-datepicker__day--disabled {
	@apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.react-datepicker__day--outside-month {
	@apply text-gray-300;
}

.react-datepicker__day--in-range {
	@apply bg-gray-200;
}

.react-datepicker__day--in-selecting-range {
	@apply bg-primary-100;
}

.react-datepicker__day--selecting-range-start {
	@apply bg-white border-2 border-primary-500;
}

.react-datepicker__day--selecting-range-end {
	@apply bg-white border-2 border-primary-500;
}

.react-datepicker__day--selected {
	@apply bg-primary-500 text-white;
}

.react-datepicker__day--range-start {
	@apply bg-primary-500 text-white hover:text-gray-700 hover:bg-white;
}

.react-datepicker__day--range-end {
	@apply bg-primary-500 text-white hover:text-gray-700 hover:bg-white;
}

.Toastify__toast-container--top-right {
	@apply top-14;
}

/*  HIDE Scrollbar
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

.react-datepicker {
	@apply flex justify-center w-full;
}

.react-datepicker__time-container {
	@apply flex flex-col justify-center w-24 pl-2;
}

.react-datepicker__header--time {
	@apply flex items-center justify-between p-2;
}

.react-datepicker-time__header {
	@apply text-lg text-gray-700 font-bold;
}

.react-datepicker__time-list {
	@apply no-scrollbar overflow-y-auto w-full h-40;
}

.react-datepicker__time-list-item {
	@apply hover:bg-primary-100 px-2 py-1.5 rounded-md cursor-pointer my-1;
}

.react-datepicker__time-list-item--selected {
	@apply bg-primary-500 text-white hover:bg-white hover:text-black border-2 border-primary-500 transition;
}

#nprogress .bar {
	@apply bg-primary-500 !important;
}

#nprogress .spinner-icon {
	@apply border-t-primary-500 border-l-primary-500 !important;
}
