# AWS
EVENTAL_AWS_ACCESS_KEY_ID="YOUR_EVENTAL_AWS_ACCESS_KEY_ID"
EVENTAL_AWS_SECRET_ACCESS_KEY="YOUR_EVENTAL_AWS_SECRET_ACCESS_KEY"
EVENTAL_AWS_REGION="YOUR_EVENTAL_AWS_REGION"

# Upstash
UPSTASH_TOKEN="YOUR_UPSTASH_TOKEN"
UPSTASH_URL="YOUR_UPSTASH_URL"

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET

# Google Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS="YOUR_NEXT_PUBLIC_GOOGLE_ANALYTICS"